@font-face
{font-family: 'oliver'; src: url('fonts/oliver.ttf');}
@font-face
{font-family:'lato'; src: url('fonts/lato.ttf');}


.log
				{margin-left: 40%;}
*{
	font-family: lato;
	margin: 0px;
	padding: 0px;
	color: #a3a3a3;
	background-repeat: no-repeat;
}
h1{
	font-size: 40px;
	text-align: center;
	color: white;
	font-family: oliver;
}
p{
	margin: 30px;
	color: white;
	text-indent: 20px;

}
input{
	font-size: 1.2em;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-bottom: 2px solid #ff8cf8;
	background-color: none;
	width: 31.5%;
	height: 7%;
	padding: 10px;
}
input:focus{
	box-shadow: 1px 1px 20px white;
	transition: .5s;
}
::-webkit-input-placeholder {
  color: #d0d0d0;
}
input[type="submit"]{
	background-color: white;
	color: #ff8cf8;
	border: none;
	border-bottom: 2px solid #ff8cf8;
}
input[type="submit"]:hover{
	background-color: #ff8cf8;
	color: white;
	transition: 0.3s;
	text-decoration: blink;
	border-bottom: 3px solid #ff62f5;
}


/* --------------MENU-------------- */
.menu{
background-color: rgba(255,255,255,0);
font-size: 200%;
padding-bottom: 1.5%;
padding-top: 1.5%;
padding-left: 10%;
width: 100%;
position: fixed;
margin-top: -5.5%;
background-image: url("img/menu.png");
background-size: 100%;
height: 10%;
}

a{color: #9e9e9e; text-decoration: none; font-family: oliver; margin-left: 3%;}
a:hover{color: black;}

.log
				{margin-left: 35%;}
				.logs 
				{margin-left: 20%;}
				.ae
				{margin-left: 0%;}

/* --------------CABEÇALHO-------------- */
.cab
{margin-top: 5%; background-image: url("img/cab.png"); background-size: 100%; height: 42%; margin-bottom: 5%;}

/* --------------CORPO-------------- */
.corpo
{}
#env
{display: none;}

/* PRODUTOS */

.produtos
{float: center; height: 700px; margin-top: 100px; padding-left: 30px;}
.produtos h1
{color: #ff8cf8; margin-bottom: 3%; padding: 1.5%;}

.f
{float: left; margin-right: 30px; margin-left: 30px; padding: 30px; text-align: center; color: #727272; border: 1px solid white; font-family: lato;}
.f:hover
{box-shadow: 1px 1px 7px #c2c2c2; transition: .5s}
.f h2
{color: black; margin-top: 10px;}
.f input[type="submit"]
{margin-top: 20px; width: 248px; border: none; background-color: #ff8cf8; color: white; }
.f input[type="submit"]:hover
{background-color: white; color: #ff8cf8; transition: .5s; border: 1px solid #ff8cf8;}




/* --------------RODAPÉ-------------- */
.pe
{background-color: black; margin-top: 50%; padding-top: 2%; padding-bottom: 2%; color: white;}






/*-------------ESCONDIDOS-----------------*/
.cm1
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm2
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm3
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm4
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm5
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm6
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm7
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cm8
{position: fixed; height: 100%; width: 100%; background-color: rgba(255,255,255,.9); display: none; margin-top: -25%; padding-top: 2%;}
.cab2
{display: none;}
.fec
{float: right; position: initial;}
.fec:hover
{color: #ff8cf8; transition: .6s; cursor: pointer; cursor: pointer;}
.cab2
{display: none;}



/*-------------PEDIDOS-----------------*/
.pedido
{margin-left: 10%; float: left; width: 35%;font-size: 20px;}

.ff
{width: 90%; margin-bottom: 3%;}
.ff:hover
{transition: .5s; width: 100%;}
input[name="r"]
{display: none;}

/*-------------INF-----------------*/
.inf
{margin-right: 15%; float: right; width: 40%;}
.inf table
{width: 100%;}
.inf input
{width: 90%;}
.inf h1
{color: #ff8cf8;}
.inf input[type="submit"]
{width: 30%; float: right; margin: 3%;  }
.inf center
{color: #14dd04;}
.c
{color: #a3a3a3;}

select
{padding: 5px; margin-top: 10px;}

@media screen and (max-width: 1440px){

	.menu{
		background-color: rgba(255,255,255,0);
		font-size: 200%;
		padding-bottom: 1.5%;
		padding-top: 1.5%;
		padding-left: 10%;
		width: 100%;
		position: fixed;
		margin-top: -5.5%;
		background-image: url("img/menu.png");
		background-size: 100%;
		height: 10%;
	}
	a{font-size: 30px; margin-left: 2%;}
	.log
	{margin-left: 37%;}
	.logs 
	{margin-left: 32%;}
	h1
	{font-size: 30px;}
	p
	{font-size: 13px;}
	*
	{font-size: 13px;}
	.sobre
	{height: 65%;}
	.pe
	{margin-top: 100%;}

}

@media screen and (max-width: 1280px){

	.menu{
		background-color: rgba(255,255,255,0);
		font-size: 200%;
		padding-bottom: 1.5%;
		padding-top: 1.5%;
		padding-left: 10%;
		width: 100%;
		position: fixed;
		margin-top: -5.5%;
		background-image: url("img/menu.png");
		background-size: 100%;
		height: 10%;
	}
	a{font-size: 30px; margin-left: 2%;}
	.log
	{margin-left: 33%;}
	.logs 
	{margin-left: 27%;}
	h1
	{font-size: 30px;}
	p
	{font-size: 13px;}
	*
	{font-size: 13px;}
	.sobre
	{height: 65%;}

}

@media screen and (max-width: 1024px){

	.menu{
		background-color: rgba(255,255,255,0);
		font-size: 200%;
		padding-bottom: 1.5%;
		padding-top: 1.5%;
		padding-left: 10%;
		width: 100%;
		position: fixed;
		margin-top: -5.5%;
		background-image: url("img/menu.png");
		background-size: 100%;
		height: 10%;
	}
	a{font-size: 25px; margin-left: 2%;}
	.log
	{margin-left: 25%;}
	.logs 
	{margin-left: 20%;}
	h1
	{font-size: 30px;}
	p
	{font-size: 13px;}
	*
	{font-size: 13px;}
	.sobre
	{height: 65%;}
	.pe
	{margin-top: 200%;}

}

@media screen and (max-width: 800px){

	.menu{
		background-color: rgba(255,255,255,0);
		font-size: 200%;
		padding-bottom: 1.5%;
		padding-top: 2%;
		padding-left: 10%;
		width: 100%;
		position: fixed;
		margin-top: -5.5%;
		background-image: url("img/menu.png");
		background-size: 100%;
		height: 10%;
	}	
	a{font-size: 20px; margin-left: 1%;}
	.log
	{margin-left: 30%;}
	.logs 
	{margin-left: 20%;}
	h1
	{font-size: 15px;}
	p
	{font-size: 5px;}
	*
	{font-size: 5px;}
	.sobre
	{height: 50%;}
	.pe
	{margin-top: 500%;}

}


@media screen and (max-width: 400px){

	.menu{
		background-color: rgba(255,255,255,0);
		padding-bottom: 1.5%;
		padding-top: 1%;
		padding-left: 10%;
		width: 100%;
		position: fixed;
		margin-top: -5.5%;
		background-image: url("img/menu.png");
		background-size: 100%;
		height: 10%;
	}	
	a{font-size: 10px; margin-left: 1%;}
	.log
	{margin-left: 20%;}
	.logs 
	{margin-left: 10%;}
	h1
	{font-size: 5px;}
	p
	{font-size: 1px;}
	*
	{font-size: 1px;}
	.sobre
	{height: 20%;}
	.cab
	{height: 15%;}
	.pe
	{margin-top: 1100%;}

}